# VisualStudioCode
.vscode
            
# Dependency directories
node_modules/

# Python
__pycache__/

# Distribution / packaging
build/
dist/
sdist/
*.egg-info/

# Environments
.env
venv/

# tasks
*.todo